@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-background: 270 18% 96%;
    --background: 0 0% 100%;
    --foreground: 222 18% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 200 44% 39%;
    --primary-foreground: 200 44% 95%;

    --primary-dark: 200 44% 22%;
    --primary-dark-foreground: 200 44% 95%;

    --secondary: 359 100% 66%;
    --secondary-foreground: 359 100% 96%;

    --accent: 36 51% 86%;
    --accent-foreground: 36 51% 26%;

    --bittersweet: 359 100% 66%;
    --rich-black: 222 18% 11%;
    --cerulean: 200 44% 39%;
    --platinum: 144 8% 87%;
    --champagne: 36 51% 86%;

    --destructive: 359 100% 66%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --app-background: 0 0% 0%;
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;

    --muted: 215.4 16.3% 46.9%;
    --muted-foreground: 210 40% 96.1%;

    --popover: 0 0% 100%
    --popover-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 4%
    --card-foreground: 0 0% 100%;

    --primary: 200 44% 35%;
    --primary-foreground: 200 44% 39%;

    --secondary: 359 100% 66%;
    --secondary-foreground: 359 100% 96%;

    --accent: 36 51% 86%;
    --accent-foreground: 36 51% 26%;

    --bittersweet: 359 100% 66%;
    --rich-black: 222 18% 11%;
    --cerulean: 200 44% 39%;
    --platinum: 144 8% 87%;
    --champagne: 36 51% 86%;

    --destructive: 210 40% 98%;
    --destructive-foreground: 359 100% 66%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1 "calt" 1;
  }
}
