@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-background: 144 8% 87%;
    --background: 0 0% 100%;
    --foreground: 222 18% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 200 44% 39%;
    --primary-foreground: 200 44% 95%;

    --primary-dark: 200 44% 22%;
    --primary-dark-foreground: 200 44% 95%;

    --secondary: 359 100% 66%;
    --secondary-foreground: 359 100% 96%;

    --accent: 36 51% 86%;
    --accent-foreground: 36 51% 26%;

    --bittersweet: 359 100% 66%;
    --rich-black: 222 18% 11%;
    --cerulean: 200 44% 39%;
    --platinum: 144 8% 87%;
    --champagne: 36 51% 86%;

    --destructive: 359 100% 66%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --secondary-highlighted: 81.9 40.5% 52.2%;
    --secondary-highlighted-foreground: 34 77% 96%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-appBackground text-foreground;
    font-feature-settings: "rlig" 1 "calt" 1;
  }
}
