 /* @tailwind base;
@tailwind components;
@tailwind utilities; */
 /* @layer base {
  *:focus {
    @apply outline-none;
    outline: none !important;
    outline-width: 5 !important;
  }
}

@layer components {
  *:focus {
    @apply outline-none;
    outline: none !important;
    outline-width: 0 !important;
  }
}

@layer utilities {
  *:focus {
    @apply outline-none;
    outline: none !important;
    outline-width: 0 !important;
  }
} */
 @import "../node_modules/@yaireo/tagify/dist/tagify.css";

 html,
 body {
   padding: 0;
   margin: 0;
   margin-top: 2rem;
   font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 }

 main {
   margin-top: 2rem;
   margin-left: 2rem;
   margin-right: 2rem;
 }


 /* a {
   color: inherit;
   text-decoration: none;
 } */

 /* {
  box-sizing: border-box;
} */